@import "./index.css";

.app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  color: rgb(201, 201, 201);
}

.app.light {
  color: var(--color-text);
}

.background {
  position: fixed;
  top: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  background: #151515;
}

.background.light {
  background: #FDF4DC;
}

.toggleButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 10px;
  background-color: rgb(66, 66, 66);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  z-index: 3;
}
