@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #151515;
}

::-webkit-scrollbar-thumb {
    background: #0000006b;
    border-radius: 5px;
}

:root {
    --color-text: #000000;
    --color-primary: #576cbc;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-roboto: "Roboto";
    --background-color: #fff;
    --button-border: #576cbc;
    --button-background: #fff;
  }